
@{
    ViewBag.Title = "Payment";
}

<h2>Начини на плащане</h2>

<h3>С наложен платеж при доставка:</h3>

<h4></h4>При доставка на поръчката плащате дължимата цена на стоката. Дължимата суми са отбелязани при потвърждаването на поръчката. ComputerStore.bg поема разходите по инкасо и застраховка на стоките.</h4>

<h3>С банков превод:</h3>



<h4>При избиране на този метод плащането се извършва предварително с банков превод към сметката на ComputerStore.bg. При потвърждаване на поръчката ще получите e-mail с нашите банкови данни. Поръчката ще бъде извършена след получаване на превода. При доставка на стоката не дължите нищо на куриера.</h4>

<h3>С кредитна/дебитна карта или чрез ePay.bg:</h3>


<h4>След като оформите своята поръчка ще се свържем с вас за да я потвърдите, след което ще може да направите плащането он-лайн с Вашата кредитна / дебитна карта или чрез ePay.bg </h4>

<br />

@Html.ActionLink("Back", "Index", "Home", new { area = "" },   new { @class = "btn btn-primary" })
