
@{
    ViewBag.Title = "Shiping";
}

<h2>Доставка</h2>

<h4>Поръчаните стоки се доставят от куриерска фирма на посочения от клиента адрес за доставка (или до поискване от офис на куриерската фирма).

Клиентът е задължен при получаване на пратката, в присъствието на куриера, да провери за счупвания и други повреди причинени от транспорта! Ние плащаме застраховка за всяка наша пратка, но тя е валидна само ако вие сте констатирали проблема пред куриера.</h4>

<h4><strong>Доставката е безплатна за територията на България за стоки със стойност над 200 лв. За стоки с цена под 200 лв., Клиентът заплаща 12 лв.</strong></h4>
<br />
@Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
