<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ФИЛТРИ</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Бранд <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="Apple">Apple</a></li>
                    <li><a href="Asus">Asus</a></li>
                    <li><a href="Acer">Acer</a></li>
                    <li><a href="Dell">Dell</a></li>
                    <li><a href="HP">Hp</a></li>
                    <li><a href="Lenovo">Lenovo</a></li>
                    <li><a href="MSI">MSI</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Цена<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a onclick="clicked()">до 500лв</a></li>
                    <li><a href="#">от 500 до 1000лв</a></li>
                    <li><a href="#">от 1000 до 1500лв</a></li>
                    <li><a href="#">от 1500 до 2000лв</a></li>

                </ul>
            </li>
        </ul>
    </div>
</nav>