@using ComputerStore.Web.Extensions;
@model IEnumerable<ComputerStore.Models.ViewModels.Notebook.AllNotebooksVm>

@{
    ViewBag.Title = "All";
}

@section LeftMenu{

    @RenderPage("~/Views/Shared/ProductNav.cshtml")


    <div id="content">
        @Html.Partial("_NotebooksPartial", Model)
    </div>


    }