@model ComputerStore.Models.ViewModels.Orders.BasketVm

@{
    ViewBag.Title = "Basket";
}

<h2>Basket</h2>


<div id="content">
    @Html.Partial("_BasketProductsPartial", Model)
</div>







<br />
<br />
<br />
<br />
<br />