@model ComputerStore.Models.ViewModels.Orders.ConfirmedOrderVm

@{
    ViewBag.Title = "ConfirmOrder";
}

<br />
<br />

<div>

    <dl class="dl-horizontal">
     

        <dd>
            <h2>ПОРЪЧКА <strong>НОМЕР: @Html.DisplayFor(model => model.OrderId)</strong> БЕШЕ РЕГИСТРИРАНА УСПЕШНО</h2>
           
        </dd>

    </dl>
</div>

